.header{
  height:50px;
  width:100%;
  background:#030144;
  color:#ffffff;
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  font-size:1.2rem;
}
.logo{
  color:#DFC57B;
  font-size:1.5rem
}

.mainImage{
  background-image:url('/Images/aesthetic-Images.jpg');
  height:100vh;
  width:100%;
  alt:"main Image";
  background-position:center;
  background-size:cover;
  background-repeat: no-repeat;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
.mainHeading{
  color:#ffffff;
  text-align:center;
  font-size:60px;
}
.name{
  color:#ffffff;
  text-shadow:0px 5px 6px #000000;
  font-weight:bold;
}
.homeheading{
  text-align:center;
}
.mainbutton{
  background-color:darkblue;
  border:none;
  height:30px;
  width:100px;
  border-radius:6px;
  box-shadow:0px 0px 3px 2px white;
  text-align:center;
}
/* about page styles */
.aboutmaindiv{
  height:100vh;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-image:url('/Images/online-coding-classes.jpg');
}
.aboutstyling{
  height:100vh;
  width:510px;
  background-color:rgba(255,255,255,0.5);
  backdrop-filter:blur(5px);
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  border-radius:10px;
  color:black;
  text-align:center;
  overflow-y-axis:hidden;
}

/* skills page */
.chartdiv{
  height:100vh;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.chart{
  height:300px;
  width:300px;
  border-radius:50%;
  border-top:70px solid blue;
  border-bottom:70px solid white;
  border-left:70px solid purple;
  border-right:70px solid orange;
  display:flex;
  align-items:center;
  justify-content:center;
  animation: rotate 10s linear infinite;
}
@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
.skillone::marker{
  margin-top:10px;
 color:orange;
}
.skilltwo::marker{
  color:purple;
  margin-top:10px;
}
.skillthree::marker{
 color:blue;
 margin-top:10px;
}
.skillfour::marker{
  margin-top:10px;
  color:blue;
}
.ul{
  height:150px;
  width:300px;
  margin-top:20px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
/* projects styling */

.projectsmainheading{
 color:#DFC57B;
}
.projectsmaindiv{
 display:flex;
 justify-content:space-evenly;
 align-items:center;
 flex-direction:column;
 margin-top:10px;
}
.countdownTimer{
  background-image:url('/Images/countdown-timer.jpg');
  height:230px;
  width:280px;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  margin-top:20px;
  border-radius:5px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
.ShoppingWeb{
  background-image:url('/Images/ecommerce-website-two.webp');
  height:230px;
  width:280px;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  margin-top:20px;
  margin-bottom:20px;
  border-radius:5px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
.guessingGame{
  background-image:url('/Images/number-guessing-game-image.png');
  height:230px;
  width:300px;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  margin-top:20px;
  border-radius:5px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
.calculator{
  background-image:url('/Images/calculator.jpg');
  height:230px;
  width:280px;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  margin-top:20px;
  margin-bottom:20px;
  border-radius:5px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
.resumebuilder{
  background-image:url('/Images/modern_resume.jpg');
  height:230px;
  width:280px;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  margin-top:20px;
  border-radius:5px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
.glowupweb{
  background-image:url('/Images/ecommerce-website.webp');
  height:230px;
  width:280px;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  margin-top:20px;
  border-radius:5px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
 
}

.contentDiv{
  height:150px;
  width:250px;
  background-color:rgba(255,255,255,0.5);
  backdrop-filter:blur(5px);
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  border-radius:10px
}

.projectparagraph{
  color:black;
}
.button{
  margin-top:10px;
  width:90px;
  text-align:center;
  background-color:black;
  border-radius:5px;
 
}
/* contact page styles */
.contactformstructure{
  height:100vh;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  border-radius:10px
}
.contactFormBg{
  background-image:url('/Images/ecommerce-website.webp');
  height:400px;
  width:300px;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:10px
}
.contactformcontent{
  height:300px;
  width:250px;
  background-color:rgba(255,255,255,0.5);
  backdrop-filter:blur(5px);
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  flex-direction:column;
  border-radius:10px;
}
.nameemailtextarea{
  height:40px;
  width:200px;
  border-radius:5px;
  border:none;
}
.contactbutton{
  height:30px;
  width:100px;
  background-color:darkblue;
  border:none;
  border-radius:5px;

}
@media (min-width:461px) and (max-width:890px){
  .chart{
    height:250px;
    width:250px;
    border-top:60px solid blue;
    border-bottom:60px solid white;
    border-left:60px solid purple;
    border-right:60px solid orange;
  }

}
@media (min-width:100px) and (max-width:460px){

  .header{
    font-size:0.8rem;
  }
  .logo{
    font-size:0.9rem
  }

  .mainHeading{
    font-size:40px;
  }
  .aboutstyling{
    font-size:0.85rem;
  }
  .chart{
    height:250px;
    width:250px;
    border-top:60px solid blue;
    border-bottom:60px solid white;
    border-left:60px solid purple;
    border-right:60px solid orange;
  }

}